*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gilroy', sans-serif;
}

html, body{
  height: 100%;
  width: 100%;
}


#page1{
  height: 100%;
  width: 100%;
  background-color: #1d1d1d;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}


#page1-h2{
  letter-spacing: 0.2rem;
  font-size: 4em;
  position: absolute;
  color: white;
  z-index: 99;
  bottom: 4%;
  left:2%;
}


#page2{
  height: 100%;
  width: 100%;
  background-color:rgb(0, 176, 176);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#page2-h2{
  letter-spacing: 0.2rem;
  font-size: 4em;
  position: absolute;
  color: white;
  z-index: 99;
  bottom: 4%;
  left:2%;
}

#page3{
  height: 100%;
  width: 100%;
  background-color: salmon;
  display: flex;
  justify-content: center;
  align-items: center;
}

#circle{
width: 300px;
height: 300px;
border-radius: 50%;
background: linear-gradient(120deg, rgb(231, 231, 231) 0%, rgb(0, 0, 0) 120%);
}